<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>DailyProblem @ KNU Gori</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <header>
        <h1>DailyProblem <span style="font-weight: 400; font-size: 0.8em;">@ KNU Gori</span></h1>
    </header>

    <section>
        <h2>무슨 서비스인가요?</h2>
        <p>Gori 회원들이 추천한 문제들이 매일 오전 9시에 Gori Slack의 #dailyproblem에 올라옵니다!</p>
        <p>문제 추천은 Gori 회원이라면 누구나 가능합니다. 추천 문제 개수는 1일 1개로 제한됩니다.</p>
    </section>

    <section>
        <h2>계정</h2>
        <% if (user) { %>
            <p>
                <strong><%=user.name%> (<%=user.email%>)</strong>
                님으로 로그인됨
            </p>
            <a href="/auth/logout">로그아웃</a>
        <% } else { %>
            <p>추천 문제를 등록하기 위해서는 <strong>KNU Gori 슬랙</strong>에 가입된 계정으로 로그인해야 합니다.</p>
            <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=329915389191.1054256474256">
                <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
            </a>
        <% } %>
    </section>

    <% if (user) { %>
        <section>
            <h2>문제 추천하기</h2>

            <p id="message"></p>

            <form id="recommend_form" class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="problem">BOJ 문제 번호</label>
                    <input id="problem" name="problem" type="text" placeholder="BOJ 문제 번호" required>

                    <label for="comment">의견</label>
                    <textarea id="comment" name="comment" placeholder="의견"></textarea>

                    <!--
                    <label for="isAnon" class="pure-checkbox">
                        <input id="isAnon" name="isAnon" type="checkbox"> 익명으로 추천
                    </label>
                    -->
                    <br/>
                    <button type="submit" class="pure-button pure-button-primary">제출!</button>
                </fieldset>
            </form>
        </section>
    <% } %>

    <section>
        <h2>내가 추천한 문제들</h2>
        <p>구현 중</p>
        <!--
        <table id="recommendations" class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>문제 번호</th>
                <th>제목</th>
                <th>의견</th>
                <th>제출일</th>
                <th>상태</th>
            </tr>
            </thead>

            <tbody>
            <% /* recommendations.forEach((row) => { %>
                <tr>
                    <td><%=row.problem_id%></td>
                    <td><%=row.title%></td>
                    <td><%=row.comment%></td>
                    <td><%=new Date(row.datetime._seconds * 1000)%></td>
                </tr>
            <% }) */ %>
            </tbody>
        </table>
        -->
    </section>

    <section>
        <h2>현재 서버 Queue에 등록된 추천 문제</h2>
        <p>구현 중</p>
        <!--
        <table id="recommendations" class="pure-table pure-table-horizontal">
            <thead>
            <tr>
                <th>problem_id</th>
                <th>title</th>
                <th>comment</th>
                <th>datetime</th>
            </tr>
            </thead>

            <tbody>
            <% /* recommendations.forEach((row) => { %>
                <tr>
                    <td><%=row.problem_id%></td>
                    <td><%=row.title%></td>
                    <td><%=row.comment%></td>
                    <td><%=new Date(row.datetime._seconds * 1000)%></td>
                </tr>
            <% }) */ %>
            </tbody>
        </table>
        -->
    </section>


    <% if (user) { %>
        <script>

            const sendValidation = async (body) => {
              try {
                const response = await fetch('/validation/boj', {
                  method: 'POST',
                  body: body,
                  headers: {
                    'Content-Type': 'application/json',
                  },
                });
                return response.json();
              } catch (e) {
                console.error(e);
                return {
                  'status': 'error',
                  'message': 'sendValidation() error!',
                };
              }
            }

            const formSubmit = async (e) => {
              e.preventDefault();
              console.log('formSubmit() called');

              // FormData와 session으로 sendValidation할 object 구성
              const form = document.getElementById('recommend_form');
              const formData = new FormData(form);

              let object = {};
              formData.forEach((value, key) => {object[key] = value});
              object.author = '<%=user.name%>';
              object.author_email = '<%=user.email%>';

              // JSON stringify and sendValidation
              let json = JSON.stringify(object);
              console.log(json);
              const res = await sendValidation(json);
              console.log(res);

              // when server operation is finished, do client operation
              let message = document.getElementById('message');
              message.style.display = 'block';  // reveals

              if (res.status === 'ok') {
                message.className = 'success';
                message.innerText = res.message;
                // TODO: OK시 폼 초기화 등

              } else if (res.status === 'error') {
                message.className = 'failure';
                message.innerText = res.message;
              }
            };

            document.getElementById('recommend_form').addEventListener('submit', formSubmit);

        </script>

        <script>
            // FIXME
        </script>
    <% } %>
</body>
</html>
